<section data-ng-controller="SamplesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Samples</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="sample in samples" data-ng-href="#!/samples/{{sample._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="sample.created | date:'medium'"></span>
				by
				<span data-ng-bind="sample.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="sample.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!samples.$resolved || samples.length">
    	No Samples yet, why don't you <a href="#!/samples/create">create one</a>?
    </div>
</section>