.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}


.instrument_label {
	width:auto;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
	vertical-align: middle;
	margin: 2px;

}


.instrument_button {
	
	padding: 10px 20px 10px;
	text-align: center;
	vertical-align: middle;
	margin: 2px;
}

.sequencerTable {
	vertical-align: center;
	margin: 10px;
}

.sequencerTable tr:nth-child(odd) {
	background-color: #FFFFFF;
	vertical-align: middle;
}
.sequencerTable tr:nth-child(even) {
	background-color: #D8D8D8;
	vertical-align: middle;
}
.sequencer td {
	/*padding: 0 2px 0;*/
}

.loopInfo {
	padding-right: 15px;
  	padding-left: 15px;
}

.sequencer {
	padding: 10px 40px 10px;
	/*border-radius: 10px;
	border: 2px solid;*/
	margin-top: 10px;
	border-top: 2px solid #888;


}

.sequencerMainControls {
	padding: 10px 0 10px;
	
}

.sequencerDrumControls {
	padding: 10px;
	border-radius: 10px;
	border: 2px solid;
	border-width: auto;
}


/* CSS for controller buttons */
.customBtn {
	min-height: 30px;
	min-width: 40px;


	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.customBtn:focus,
.customBtn:active:focus,
.customBtn.active:focus,
.customBtn.focus,
.customBtn:active.focus,
.customBtn.active.focus {
  /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
}
.customBtn:hover,
.customBtn:focus,
.customBtn.focus {
  color: #333;
  text-decoration: none;
}
.customBtn:active,
.customBtn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.customBtn.disabled,
.customBtn[disabled],
fieldset[disabled] .customBtn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.customBtn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.customBtn-primary:hover,
.customBtn-primary:focus,
.customBtn-primary.focus,
.customBtn-primary:active,
.customBtn-primary.active,
.open > .dropdown-toggle.customBtn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.customBtn-primary:active,
.customBtn-primary.active,
.open > .dropdown-toggle.customBtn-primary {
  background-image: none;
}
.customBtn-primary.disabled,
.customBtn-primary[disabled],
fieldset[disabled] .customBtn-primary,
.customBtn-primary.disabled:hover,
.customBtn-primary[disabled]:hover,
fieldset[disabled] .customBtn-primary:hover,
.customBtn-primary.disabled:focus,
.customBtn-primary[disabled]:focus,
fieldset[disabled] .customBtn-primary:focus,
.customBtn-primary.disabled.focus,
.customBtn-primary[disabled].focus,
fieldset[disabled] .customBtn-primary.focus,
.customBtn-primary.disabled:active,
.customBtn-primary[disabled]:active,
fieldset[disabled] .customBtn-primary:active,
.customBtn-primary.disabled.active,
.customBtn-primary[disabled].active,
fieldset[disabled] .customBtn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.customBtn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
