

.loopHeader {
	margin: 30px 0 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.loopName {
	font-size: 3em;
	width:100%;
}

.loopUsers {
	margin-left: 20px;
	margin-bottom: 20px;
}

.loopControls {
	text-align: right;
	width:100%;
}

.loopUsers {

}


/* main section */

.sequencer {
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 5px solid;
	border-color: #BBB;
	border-width: auto;
}

.sequencerMainControls {
	margin: 0 20px 20px 20px;

}

.sequencerTable {
	width: 100%;
	margin: 0 20px 20px 0;
	/*margin-left: 20px;*/
}

/*.sequencerTable td, tr {
	border: 2px solid black;
}*/

.sequencerTable tr:nth-child(odd) {
	background-color: #FFF;
}
.sequencerTable tr:nth-child(even) {
	background-color: #EEE;
}
.sequencerTable tr:last-child {
	background-color: #FFF;
}

.sequencerTable td {
}
.sequencerTable td:nth-child(2) {
	width:auto;
}
.sequencerTable td:first-child {
    width:20%;
	padding-left: 20px;
}
.sequencerTable td:last-child {
	width:50px;
	padding-right: 20px;

}

.instrument-select {
	width:170px;
	text-align: center;
	color: #FFF;
}
.instrumentDropdown {
	width:85%;
}
.instrumentToggle{
	width:15%;
}

.bpm-ctrl {
	float: right;
}


.controlBtn {
	top: 1px;
	position: relative;
	background-color: #CCCCCC;
	border-color:#BBBBBB;
	min-width: 40px;
}
.controlBtn:hover {
	background-color: #AAAAAA;
	border-color:#999999
}

/* main sequencer buttons (beats and time) */

.sequencerBtn {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 3px;
	width: 40px;
}

.sequencerTimeBtn {
	min-height: 20px;
}
.timeActive {
	background-color: #E00;
}
.timeInactive {
	background-color: #E00;
	opacity: 0.25;
}

.sequencerBeatBtn {
	min-height: 30px;
}

.sequencerBeatBtn:hover,
.sequencerBeatBtn:focus,
.sequencerBeatBtn.focus {
	background-color: #3071a9
}
.sequencerBeatBtn:active,
.sequencerBeatBtn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.sampleBtn {
	color: #FFF;
	background-color: #3071a9;
	border-color:#AAAAAA;
}

.sampleBtn:hover {
	color: #FFF;
	background-color: #265A87;
	border-color:#AAAAAA;
}

.sampleBtn:active,
.sampleBtn.active,
.sampleBtn:focus,
.sampleBtn.focus {
	color: #FFF;
	border-color:#AAAAAA;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.inactiveBeat1 {
	background-color: #AAA;
}

.inactiveBeat2 {
	background-color: #888;
}
.inactiveBeatPlaying {
	background-color: #666;
	box-shadow: 0px 0px 5px 5px #DDD;
}

.activeBeat {
	background-color: #37A;
}

.activeBeatPlaying {
	background-color: #E33;
}