<section data-ng-controller="HomeController">

	<div>
		<h2>Welcome to loopSocket.</h2>
		<p>loopSocket is a collaborative loop based sequencer/drum machine.</p>
		<p>This is work in progress.</p>
		<ul>
			<li>
				Click
				<em>Sign Up</em>
				on the top-right corner to get started.
			</li>
			<li>
				Go to
				<em>Loops</em>
				to create a new session or view/edit existing sesssions.
			</li>
		</ul>
	</div>
	<div ng-controller="LoopsController" >
		<div ng-include="'modules/loops/views/list-loops.client.view.html'"></div>
	</div>
	<br>JJTCU CMPT470
</section>
