<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				JJTCU
			</p>
		</div>
		<!--<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/loops" target="_blank">List Public Sessions</a>
			</p>
		</div>-->
	</div>
	<div>
		<h2>Welcome to loopSocket.</h2>
		<p>loopSocket is a collaborative loop based sequencer/drum machine.</p>
		<p>This is work in progress.</p>
		<ul>
			<li>
				Click
				<em>Sign Up</em>
				on the top-right corner to get started.
			</li>
			<li>
				Go to
				<em>Loops</em>
				to create a new session or view/edit existing sesssions.
			</li>
		</ul>
	</div>
	<div ng-controller="LoopsController" >
		<div ng-include="'modules/loops/views/list-loops.client.view.html'"></div>
	</div>
	<br>JJTCU CMPT470
</section>
