<section data-ng-controller="EditLoopController" data-ng-init="findOne()">

    <div class="loopHeader">
        <label class="loopName">{{loop.name}}</label>

        <div class="loopControls">
            <button class="btn controlBtn" ng-click="updateState()">Save</button>
            <button class="btn controlBtn" ng-click="revertState()">Revert</button>
            <button class="btn controlBtn" ng-click="show_settings=!show_settings">
                <span ng-show="show_settings">Edit</span>
                <span ng-show="!show_settings">Settings</span>
            </button>
            <button class="btn controlBtn" ng-click="remove();"><span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>

    <div class="loopUsers">
        <label>Active User(s): </label>
        <label>{{loop.user.username}}</label>
    </div>

    <section data-ng-controller="LoopSettingsController">
        <div ng-show="show_settings" class="sequencer">
            <h1>Loop Settings</h1>
            <div ng-show="isPublic()">
                <span> This loop is currently private. </span>
                <a class="btn btn-default" data-ng-click="makePublic()">Make Public</a>
            </div>
            <div ng-show="isPrivate()">
                <span> This loop is currently public to everyone </span>
                <a class="btn btn-default" data-ng-click="makePrivate()">Make Private</a>
            </div>
            <div data-ng-repeat="User in information"> 
                <div ng-hide="checkPerson($index)">
                    <span> {{information[$index].firstName}} has access to this loop. </span>
                </div>
                <div ng-show="checkPerson($index)">
                    <span ng-hide="show" data-ng-bind="information[$index].firstName"></span>
                    <a class="btn btn-default" data-ng-click="addPerson($index); show=true" ng-hide="show">Add</a>
                </div>
            </div>
        </div>
    </section>
    <section data-ng-controller="PlaybackController">
        <div ng-show="!show_settings" class = "sequencer">
            <div class="sequencerMainControls">
                <button class="btn btn-sm glyphicon controlBtn" ng-click="play()">
                    <span ng-class="{'glyphicon-play':!isPlaying(),'glyphicon-pause':isPlaying()}"></span>
                </button>

                <button class="btn btn-sm glyphicon controlBtn" ng-click="stop()"><span class="glyphicon-stop"></span> </button>

                <button class="btn btn-sm controlBtn" ng-click="clear()">Clear</button>

                <label style="width: 30px;"></label>

                <div class="btn-group">
                    <button class="btn btn-sm controlBtn" ng-click="decrBeatsPerBar()"><span class="glyphicon glyphicon-minus"></span> </button>
                    <button class="btn btn-sm controlBtn" disabled>{{getNumBeatsPerBar()}} beats per bar</button>
                    <button class="btn btn-sm controlBtn" ng-click="incrBeatsPerBar()"><span class="glyphicon glyphicon-plus"></span> </button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-sm controlBtn" ng-click="decrNumBar()"><span class="glyphicon glyphicon-minus"></span> </button>
                    <button class="btn btn-sm controlBtn" disabled>{{getNumBars()}} bars</button>
                    <button class="btn btn-sm controlBtn" ng-click="incrNumBar()"><span class="glyphicon glyphicon-plus"></span> </button>
                </div>

                <div class="btn-group bpm-ctrl">
                    <button class="btn btn-sm controlBtn" ng-click="halfBPM()"><span>/ 2</span></button>
                    <button class="btn btn-sm controlBtn" ng-click="decrBPM()"><span class="glyphicon glyphicon-minus"></span> </button>
                    <button class="btn btn-sm controlBtn" disabled>{{getBpm()}} BPM</button>
                    <button class="btn btn-sm controlBtn" ng-click="incrBPM()"><span class="glyphicon glyphicon-plus"></span> </button>
                    <button class="btn btn-sm controlBtn" ng-click="doubleBPM()"><span>x2</span> </button>
                </div>
            </div>

            <table class="sequencerTable">
                <tr>
                    <td></td>

                    <td/>
                    <td ng-repeat="j in []|range:1:total_beats()" class = "sequencerBtn sequencerTimeBtn" ng-class="{timeActive:at_time(j), timeInactive:!at_time(j)}"/>

                    <td/>
                </tr>
                <tr ng-repeat="i in getInstruments()">
                    <td>
                        <div class="btn-group instrument-select" dropdown>
                            <button type="button" class="btn instrumentDropdown sampleBtn" ng-click="playInstrument(i)">{{i.sample.name}}</button>
                            <button type="button" class="btn dropdown-toggle instrumentToggle sampleBtn" dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="sample in getSamples()" ><a ng-click="changeSample(sample,i)">{{sample.name}}</a></li>
                            </ul>
                        </div>
                    </td>
                    <!--
                    <td/>
                    -->

                    <td>
                        <knob></knob>
                    </td>
                    <td ng-repeat="j in []|range:1:total_beats()" class="sequencerBtn sequencerBeatBtn" ng-click="sample_click(j-1,i)" 
                    ng-class="{inactiveBeat1:beat_group(j,1)&&!pressed(j-1,i), inactiveBeat2:beat_group(j,2)&&!pressed(j-1,i), 
                    inactiveBeatPlaying:!pressed(j-1,i)&&isPlaying()&&getTime()==(j-1),
                    activeBeat:pressed(j-1,i),activeBeatPlaying:pressed(j-1,i)&&isPlaying()&&getTime()==(j-1)}"/> </td>


                    <td>
                        <button class="btn btn-sm glyphicon controlBtn" ng-click="removeInstrument(i)"><span class="glyphicon-remove"></span></button>
                    </td>
                </tr>
                <tr >
                    <td>
                        <button class="btn instrument-select sampleBtn" ng-click="addInstrument()" style="margin-top:20px"><span class="glyphicon glyphicon-plus"></span> Add Instrument</button>
                    </td>
                    <td/>
                </tr>
            </table>

            <pre class="prettyprint">{{getInstrumentsPretty()}}</pre>
        </div>
    </section>
</section>
