<section data-ng-controller="EditLoopController" data-ng-init="findOne()">

    <div class="loopHeader">
        <label class="loopName">{{loop.name}}</label>

        <div class="loopControls"  data-ng-show="showControls()">
            <button class="btn controlBtn" ng-click="hideSettings()" ng-show="isSettingsVisible()">Back to Edit</button>

            <button class="btn controlBtn" ng-click="updateState()">Save</button>
            <button class="btn controlBtn" ng-click="revertState()">Revert</button>
            
            <button class="btn controlBtn" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span>
            </button>

            <button class="btn controlBtn" ng-click="showSettings()"><span class="glyphicon glyphicon-cog"></span></button>
        </div>
    </div>

    <div class="loopUsers">
        <label>Active User(s): </label>
        <!-- <label>{{loop.user.username}}</label> -->
        <label>{{activeUsers}}</label>
    </div>

    <section data-ng-controller="LoopSettingsController" data-ng-init="findOne()">
        <div ng-show="isSettingsVisible()" class="sequencer">
            <label <label class="settingsHeader">Settings</label>
            
            <table class = "settingsTable">
                <!--
                <tr>
                    <td><label>Loop Name: </label></td>
                    <td>
                        <form data-ng-submit = "updateLoopName()" novalidate>
                        <fieldset>
                            <input type="text" name="name" class="form-settings" placeholder="New Loop Name" data-ng-model="loop.name">
                            <input type="submit" value="Update Name" class="btn btn-sm controlBtn">
                        </fieldset>
                        </form>
                    </td>
                </tr>
                -->
                <tr>
                    <td><label>Owner: </label></td>
                    <td> {{loop.user.username}}
                </tr>
                <tr>
                    <td><label>Date Created: </label></td>
                    <td> {{loop.created | date:'medium'}}
                </tr>
                <tr ng-show="isPrivate()">
                    <td><label>Access Mode: </label></td>
                    <td>Private <button class = "btn btn-sm controlBtn" data-ng-click="makePublic()">Make Public</button> </td>
                </tr>
                <tr ng-show="isPublic()">
                    <td><label>Access Mode: </label></td>
                    <td> Public <button class = "btn controlBtn miniBtn" data-ng-click="makePrivate()">Make Private</button> </td>
                </tr>
                
                <tr>
                    <td><label>Members: </label></td>
                    <td>
                        <span data-ng-repeat="members in getMembers()" class="membersList">
                                {{members.username}}
                                <button class="btn controlBtn miniBtn" data-ng-click="deleteMember(members._id)"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>
                    </td>
                </tr>
                
            </table>

            <input type="text" ng-model="addUser" typeahead-min-length='1' typeahead="user.username for user in getUsers() | filter:{username: $viewValue} | limitTo:5" class="form-control">

            <!-- don't delete yet, used for testing things -John
            <div ng-show="isPrivate()" data-ng-repeat="user in getUsers()">
                <div ng-show="isMember(user)">
                    <span> {{user.username}} has access to this loop. </span>
                    <a class="btn btn-default" data-ng-click="deleteMember(user)"> Delete </a>
                </div>
                <div ng-hide="isMember(user)">
                    <span ng-hide="show" data-ng-bind="user.username"></span>
                    <a class="btn btn-default" data-ng-click="addMember(user); show=true" ng-hide="show">Add</a>
                </div>
            </div>
            -->
            
        </div>

    </section>
    <section data-ng-controller="PlaybackController">
        <div ng-show="!show_settings" class = "sequencer">
            <div class="sequencerMainControls">
                <button class="btn btn-sm glyphicon controlBtn" ng-click="play()">
                    <span ng-class="{'glyphicon-play':!isPlaying(),'glyphicon-pause':isPlaying()}"></span>
                </button>

                <button class="btn btn-sm glyphicon controlBtn" ng-click="stop()"><span class="glyphicon-stop"></span> </button>

                <button class="btn btn-sm controlBtn" ng-click="clear()">Clear</button>

                <label style="width: 30px;"></label>

                <div class="btn-group">
                    <button class="btn btn-sm controlBtn" ng-click="changeBeatsPerBar(getAdder(-1))"><span class="glyphicon glyphicon-minus"></span> </button>
                    <button class="btn btn-sm controlBtn" disabled>{{getNumBeatsPerBar()}} beats per bar</button>
                    <button class="btn btn-sm controlBtn" ng-click="changeBeatsPerBar(getAdder(1))"><span class="glyphicon glyphicon-plus"></span> </button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-sm controlBtn" ng-click="changeNumBars(getAdder(-1))"><span class="glyphicon glyphicon-minus"></span> </button>
                    <button class="btn btn-sm controlBtn" disabled>{{getNumBars()}} bars</button>
                    <button class="btn btn-sm controlBtn" ng-click="changeNumBars(getAdder(1))"><span class="glyphicon glyphicon-plus"></span> </button>
                </div>

                <div class="btn-group bpmCtrl">
                    <button class="btn btn-sm controlBtn" ng-click="changeBpm(getMultiplier(1/2))"><span>/ 2</span></button>
                    <button class="btn btn-sm controlBtn" ng-click="changeBpm(getAdder(-5))"><span class="glyphicon glyphicon-minus"></span> </button>
                    <button class="btn btn-sm controlBtn" disabled>{{getBpm()}} BPM</button>
                    <button class="btn btn-sm controlBtn" ng-click="changeBpm(getAdder(5))"><span class="glyphicon glyphicon-plus"></span> </button>
                    <button class="btn btn-sm controlBtn" ng-click="changeBpm(getMultiplier(2))"><span>x2</span> </button>
                </div>
            </div>

            <table class="sequencerTable">
                <tr>
                    <td></td>

                    <td/>
                    <td ng-repeat="j in []|range:0:(getTotalBeats()-1)" class = "sequencerBtn sequencerTimeBtn" ng-class="{timeActive:atTime(j), timeInactive:!atTime(j)}"/>

                    <td/>
                </tr>
                <tr ng-repeat="i in getInstruments()">
                    <td>
                        <div class="btn-group instrument-select" dropdown>
                            <button type="button" class="btn instrumentDropdown sampleBtn" ng-click="playInstrument(i)">{{i.sample.name}}</button>
                            <button type="button" class="btn dropdown-toggle instrumentToggle sampleBtn" dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="sample in getSamples()" ><a ng-click="changeSample(sample,i)">{{sample.name}}</a></li>
                            </ul>
                        </div>
                    </td>
                
                    <td/>
                    
                    <td ng-repeat="j in []|range:0:(getTotalBeats()-1)" class="sequencerBtn sequencerBeatBtn" ng-click="toggleBeat(j,i)" 
                    ng-class="{inactiveBeat1:beatGroup(j,1)&&!beatEnabled(j,i), inactiveBeat2:beatGroup(j,2)&&!beatEnabled(j,i), 
                    inactiveBeatPlaying:!beatEnabled(j,i)&&isPlaying()&&getTime()==(j),
                    activeBeat:beatEnabled(j,i),activeBeatPlaying:beatEnabled(j,i)&&isPlaying()&&getTime()==(j)}"/> </td>


                    <td>
                        <button class="btn glyphicon controlBtn removeSampleBtn" ng-click="removeInstrument(i)"><span class="glyphicon-remove"></span></button>
                    </td>
                </tr>
                <tr >
                    <td>
                        <button class="btn instrument-select sampleBtn" ng-click="addInstrument()" style="margin-top:20px"><span class="glyphicon glyphicon-plus"></span> Add Instrument</button>
                    </td>
                    <td/>
                </tr>
            </table>

            <!-- <pre class="prettyprint">{{getInstrumentsPretty()}}</pre> -->
        </div>
    </section>
</section>
