<section data-ng-controller="LoopsController" data-ng-init="findOne()">
    <div class="pg-header">
        <label class="loopName">{{loop.name}}</label>
        <button class="btn btn-default menuBtn" data-ng-click="remove();"><span class="glyphicon glyphicon-trash"></span>
        </button>
        <button class="btn btn-default menuBtn" data-ng-click="">Settings</button>
    </div>
</section>
<section data-ng-controller="PlaybackController">
    <div class = "sequencer">
        <div class="sequencerMainControls">
            <button class="btn btn-default glyphicon" ng-click="play()" ng-model="playing"><span ng-class="{'glyphicon-play':!playing,'glyphicon-pause':playing}"></span></button>

            <button class="btn btn-default glyphicon" ng-click="stop()"><span class="glyphicon-stop"></span> </button>
            
            <button class="btn btn-default" ng-click="clear()">Clear</button>
            

        </div>

        <div class="sequencerDrumControls">
            <table class="sequencerTable">
              <tr>
                <td><label class = "instrument_label"></label></td>
                <!--
                <td>
                    <div class="circularSlider"></div>
                </td>
                -->
                <td class = "timeBtn td-instrument-time" ng-class="{atTime:at_time(i), notAtTime:!at_time(i)}" ng-repeat="i in []|range:1:4"></td>

                <td class = "timeBtn td-instrument-time" ng-class="{atTime:at_time(i), notAtTime:!at_time(i)}" ng-repeat="i in []|range:5:8"></td>

                <td class = "timeBtn td-instrument-time" ng-class="{atTime:at_time(i), notAtTime:!at_time(i)}" ng-repeat="i in []|range:9:12"></td>

                <td class = "timeBtn td-instrument-time" ng-class="{atTime:at_time(i), notAtTime:!at_time(i)}" ng-repeat="i in []|range:13:16"></td>

                <!-- 
                <td class="btn btn-primary instrument_button" btn-checkbox ng-model="scope.time_model[$index]" ng-repeat="i in beats">{{i}}</td> -->
              </tr>
              <tr ng-repeat="i in instruments">
                <td>
                <select ng-model="i.sample" ng-change="changeSample(i)" ng-options="samp.name for samp in samples">
                </td>

                <td class="customBtn td-instrument-button defaultBtn1" ng-click="sample_click(j-1,i)" ng-class="{defaultBtn1:!pressed(j-1,i), activeBtn:pressed(j-1,i)}" ng-repeat="j in []|range:1:4"></td>

                <td class="customBtn td-instrument-button defaultBtn2" ng-click="sample_click(j-1,i)" ng-class="{defaultBtn2:!pressed(j-1,i), activeBtn:pressed(j-1,i)}" ng-repeat="j in []|range:5:8"></td>

                <td class="customBtn td-instrument-button defaultBtn1" ng-click="sample_click(j-1,i)" ng-class="{defaultBtn1:!pressed(j-1,i), activeBtn:pressed(j-1,i)}" ng-repeat="j in []|range:9:12"></td>

                <td class="customBtn td-instrument-button defaultBtn2" ng-click="sample_click(j-1,i)" ng-class="{defaultBtn2:!pressed(j-1,i), activeBtn:pressed(j-1,i)}" ng-repeat="j in []|range:13:16"></td>
                





                <td class = "instrument_label"><button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>

              </tr>
            </table>
            <a href="#" class="customBtn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Add Instrument</a>
        </div>

        <pre class="prettyprint">{{getInstrumentsPretty()}}</pre>
    <div>
</section>