<section data-ng-controller="LoopsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Session</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="session.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
<section data-ng-controller="PlaybackController" id="playback_element">
    <div>
        <button ng-click="play()">
          Play
        </button>
        <pre>{{playing}}</pre>
        <pre>{{time}}</pre>
        <pre>{{hi_hat}}</pre>
        <pre>{{instruments}}</pre>
        <table>
          <tr>
            <td></td>
            <td ng-class="{atTime:at_time(i), btn:true}" ng-repeat="i in []|range:1:16">{{i}}</td>
          </tr>
          <tr>
            <td><select ng-init="selectedSample=firstSample()" ng-model="selectedSample" ng-change="changeSample()" ng-options="samp.name for samp in samples"></td>
            <td class="btn btn-primary" ng-model="scope.hi_hat[$index]" ng-click="sample_click(i-1,'1')" btn-checkbox ng-repeat="i in []|range:1:16">{{i}}</td>
          </tr>
        </table>
    </div>
<!-- </section>
<section data-ng-controller="SamplesController" data-ng-init="samples = findVar()"> -->
    <!--<select ng-model="samples.name" ng-options="s.name for s in samples">
    </select><br/>-->
<!--     <p> Selected item is : {{selectedSample.name}} </p>
    <select ng-init="selectedSample=firstSample()" ng-model="selectedSample" ng-change="changeSample()" ng-options="samp.name for samp in samples">
    </select> -->


</section>