<section data-ng-controller="LoopsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Loops</h1>
    </div>
    <div class="list-loop-group"> 
        <label class="listLoopsHeader">Private Loops</label>
        <a data-ng-repeat="loop in loops" data-ng-href="#!/loops/{{loop._id}}" class="list-group-item" ng-show="hasAccess(loop)">
            <div> 
                <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="loop.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="loop.user.username"></span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="loop.name"></h4>
            </div>
        </a>
    </div>

    <div class="list-loop-group"> 
        <label class="listLoopsHeader">Public Loops</label>
        <a data-ng-repeat="loop in loops" data-ng-href="#!/loops/{{loop._id}}" class="list-group-item" ng-show="isPublic(loop)">
            <div> 
                <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="loop.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="loop.user.username"></span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="loop.name"></h4>
            </div>
        </a>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!loops.$resolved || loops.length">
        No Loops yet, why don't you <a href="#!/loops/create">create one</a>?
    </div>
    

</section>